/* 사이드바 아이콘 영역 사이즈 */
.css-cveggr-MuiListItemIcon-root {
  min-width: 30px !important;
}
/* 사이드바 선택 아이템 색상 변경 */
.css-sijacu-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #c6c6c6;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-row.Mui-selected {
  background-color: #ff1122;
}

.MuiDataGrid-filler {
  background-color: #dddddd;
}
/* 폼에 들어가는 유효성 검사 글자 색 변경 */
.text-red {
  color: red;
}
/* 폼을 묶는 grid 영역 */
.grid-box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  gap: 1.5em;
}
